.contact-container {
  width: 50%;
}

.contact-container input,
textarea {
  border: 2px solid var(--color-grey);
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
  background: transparent;
  color: var(--color-grey);
  resize: none;
}

.contact-container button {
  background: transparent;
  margin-top: 0 !important;
}

footer {
  background: var(--color-light);
  padding: 2rem;
  text-align: center;
  color: var(--color-grey);
}

@media screen and (max-width: 1024px) {
  .contact-container {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .contact-container {
    width: 90%;
  }
}
